# Python Code for Analyzing Glassdoor Data

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
G= pd.read_csv('employee_reviews.csv', encoding='ISO-8859-1')

In [3]:
G = G.rename(columns={'carrer-opportunities-stars': 'career-opportunities-stars', \
                      'senior-mangemnet-stars': 'senior-management-stars'})

In [4]:
Gd= G.drop(['link', 'Unnamed: 0'], axis=1)

In [5]:
Gd.iloc[[7819],2] = 'Feb 23, 2018'
Gd.iloc[[28729],2]= 'Dec 26, 2017'
Gd.iloc[[40862],2] = 'May 31, 2016'
Gd.iloc[[36104],2] = 'Nov 30, 2015'

In [6]:
time= Gd['dates']
d=pd.to_datetime(time)
e= d.to_frame(name= 'Date')

In [7]:
G= pd.concat([Gd, e], axis=1)

In [8]:
G= G.drop(G.columns[2], axis=1)

In [9]:
G= G[['company','Date','location','job-title','summary', 'pros', 'cons', 'advice-to-mgmt','overall-ratings',\
      'work-balance-stars','culture-values-stars', 'career-opportunities-stars','comp-benefit-stars', \
      'senior-management-stars','helpful-count']]

In [10]:
Gd= G.drop_duplicates()

In [11]:
G= Gd.set_index('Date')

In [12]:
G= G.loc['2013-01-01':'2018-12-11']

In [13]:
G_test_corr= G[['overall-ratings','work-balance-stars', 'culture-values-stars', 'career-opportunities-stars', \
      'comp-benefit-stars', 'senior-management-stars','helpful-count']].replace('none', np.nan).astype(float)

In [14]:
G_test_corr['work-balance-stars'].fillna(G_test_corr['overall-ratings'],inplace=True)
G_test_corr['culture-values-stars'].fillna(G_test_corr['overall-ratings'],inplace=True)
G_test_corr['career-opportunities-stars'].fillna(G_test_corr['overall-ratings'],inplace=True)
G_test_corr['comp-benefit-stars'].fillna(G_test_corr['overall-ratings'],inplace=True)
G_test_corr['senior-management-stars'].fillna(G_test_corr['overall-ratings'],inplace=True)

In [15]:
G_nan= G[['overall-ratings','work-balance-stars', 'culture-values-stars', 'career-opportunities-stars', \
      'comp-benefit-stars', 'senior-management-stars','helpful-count']].replace('none', np.nan).astype(float)

In [16]:
G_nan.mean()

overall-ratings               3.851710
work-balance-stars            3.344743
culture-values-stars          3.784831
career-opportunities-stars    3.659050
comp-benefit-stars            3.956338
senior-management-stars       3.332540
helpful-count                 1.196034
dtype: float64

In [17]:
a= G_nan[['work-balance-stars']].fillna(3.3)
b= G_nan[['culture-values-stars']].fillna(3.8)
c= G_nan[['career-opportunities-stars']].fillna(3.7)
d= G_nan[['comp-benefit-stars']].fillna(4.0)
e= G_nan[['senior-management-stars']].fillna(3.3)
g= [G_nan['overall-ratings'],a,b,c,d,e,G_nan['helpful-count']]
G_avg=pd.concat(g, axis=1)

In [18]:
stats.ttest_ind(G_test_corr, G_nan, axis= 0, nan_policy='omit', equal_var=False)

Ttest_indResult(statistic=masked_array(data=[0.0, 8.919265032515916, 2.4290125742934454,
                   4.450501403165371, -0.04123727191599822,
                   9.760341613183419, 0.0],
             mask=[False, False, False, False, False, False, False],
       fill_value=1e+20), pvalue=masked_array(data=[1.00000000e+00, 4.76505529e-19, 1.51416433e-02,
                   8.57557935e-06, 9.67106816e-01, 1.70242736e-22,
                   1.00000000e+00],
             mask=False,
       fill_value=1e+20))

In [19]:
stats.ttest_ind(G_avg, G_nan, axis= 0, nan_policy='omit', equal_var=False)

Ttest_indResult(statistic=masked_array(data=[0.0, -0.6785619159302032, 0.2451228686179789,
                   0.6587661361865556, 0.8261540752375561,
                   -0.5352023159165534, 0.0],
             mask=[False, False, False, False, False, False, False],
       fill_value=1e+20), pvalue=masked_array(data=[1.        , 0.49741696, 0.80636177, 0.51004739,
                   0.40871856, 0.5925111 , 1.        ],
             mask=False,
       fill_value=1e+20))

In [20]:
G[['overall-ratings','work-balance-stars', 'culture-values-stars', 'career-opportunities-stars', \
   'comp-benefit-stars', 'senior-management-stars','helpful-count']] = \
G_avg[['overall-ratings','work-balance-stars', 'culture-values-stars', \
       'career-opportunities-stars', 'comp-benefit-stars', 'senior-management-stars','helpful-count']]

In [23]:
G= G.drop(['summary', 'pros', 'cons', 'advice-to-mgmt'], axis=1)

In [34]:
G= G.reset_index()

In [35]:
G

,Date,company,location,job-title,overall-ratings,work-balance-stars,culture-values-stars,career-opportunities-stars,comp-benefit-stars,senior-management-stars,helpful-count
0,2018-12-11,google,none,Current Employee - Anonymous Employee,5.0,4.0,5.0,5.0,4.0,5.0,0.0
1,2013-06-21,google,"Mountain View, CA",Former Employee - Program Manager,4.0,2.0,3.0,3.0,5.0,3.0,2094.0
2,2014-05-10,google,"New York, NY",Current Employee - Software Engineer III,5.0,5.0,4.0,5.0,5.0,4.0,949.0
3,2015-02-08,google,"Mountain View, CA",Current Employee - Anonymous Employee,5.0,2.0,5.0,5.0,4.0,5.0,498.0
4,2018-07-19,google,"Los Angeles, CA",Former Employee - Software Engineer,5.0,5.0,5.0,5.0,5.0,5.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...
58286,2013-01-03,microsoft,none,Former Employee - Anonymous Employee,4.0,3.0,3.0,4.0,4.0,3.0,0.0
58287,2013-01-04,microsoft,none,Former Employee - Anonymous Employee,4.0,4.0,4.0,4.0,4.0,4.0,0.0
58288,2013-01-01,microsoft,Cairo (Egypt),Current Employee - Freelancing,3.0,5.0,4.0,3.0,1.0,1.0,0.0
58289,2013-01-02,microsoft,none,Current Employee - Product Advisor,4.0,4.0,4.0,4.0,4.0,2.0,0.0
58290,2013-01-14,microsoft,none,Former Employee - Anonymous Employee,1.0,1.0,2.0,1.0,4.0,1.0,1.0

In [46]:
A= G.groupby([pd.Grouper(key='Date',freq='Y'), 'company']).mean()